body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:80px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:102px;
  top:116px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:100px;
  top:148px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:190px;
  top:115px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6_input {
  font-family:'Applied Font';
}
#u7 {
  position:absolute;
  left:191px;
  top:146px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7_input {
  font-family:'Applied Font';
}
#u8 {
  position:absolute;
  left:190px;
  top:78px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8_input {
  font-family:'Applied Font';
}
#u9 {
  position:absolute;
  left:102px;
  top:38px;
  width:34px;
  height:16px;
  font-family:'PingFang SC';
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:109px;
  top:272px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:111px;
  top:308px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:109px;
  top:340px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:199px;
  top:307px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17_input {
  font-family:'Applied Font';
}
#u18 {
  position:absolute;
  left:200px;
  top:338px;
  width:200px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18_input {
  font-family:'Applied Font';
}
#u19 {
  position:absolute;
  left:199px;
  top:270px;
  width:200px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19_input {
  font-family:'Applied Font';
}
#u20 {
  position:absolute;
  left:111px;
  top:230px;
  width:34px;
  height:16px;
  font-family:'PingFang SC';
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:130px;
  top:450px;
  width:411px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  white-space:nowrap;
}
