body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:80px;
  width:51px;
  height:16px;
  font-family:'PingFang SC';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:102px;
  top:116px;
  width:76px;
  height:16px;
  font-family:'PingFang SC';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:190px;
  top:115px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_input {
  font-family:'Applied Font';
}
#u5 {
  position:absolute;
  left:191px;
  top:146px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5_input {
  font-family:'Applied Font';
}
#u6 {
  position:absolute;
  left:101px;
  top:149px;
  width:76px;
  height:16px;
  font-family:'PingFang SC';
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:104px;
  top:182px;
  width:76px;
  height:16px;
  font-family:'PingFang SC';
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:192px;
  top:181px;
  width:200px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10_input {
  font-family:'Applied Font';
}
#u11 {
  position:absolute;
  left:193px;
  top:212px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11_input {
  font-family:'Applied Font';
}
#u12 {
  position:absolute;
  left:103px;
  top:215px;
  width:76px;
  height:16px;
  font-family:'PingFang SC';
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:106px;
  top:245px;
  width:40px;
  height:16px;
  font-family:'PingFang SC';
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:194px;
  top:244px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:195px;
  top:275px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17_input {
  font-family:'Applied Font';
}
#u18 {
  position:absolute;
  left:105px;
  top:278px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:418px;
  top:282px;
  width:40px;
  height:16px;
  font-family:'PingFang SC';
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:104px;
  top:320px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:210px;
  top:323px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:350px;
  top:323px;
  width:100px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
