body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:160px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:130px;
  width:800px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u3 {
  position:absolute;
  left:620px;
  top:197px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'PingFang SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3_input {
  font-family:'Applied Font';
}
#u4 {
  position:absolute;
  left:57px;
  top:195px;
  width:70px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'PingFang SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_input {
  font-family:'Applied Font';
}
#u5 {
  position:absolute;
  left:147px;
  top:195px;
  width:70px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'PingFang SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5_input {
  font-family:'Applied Font';
}
#u6 {
  position:absolute;
  left:257px;
  top:197px;
  width:80px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6_input {
  font-family:'Applied Font';
}
#u7 {
  position:absolute;
  left:57px;
  top:260px;
  width:471px;
  height:95px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'PingFang SC';
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:93px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'PingFang SC';
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:186px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'PingFang SC';
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:279px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'PingFang SC';
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:372px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'PingFang SC';
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:30px;
  width:93px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:93px;
  top:30px;
  width:93px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:186px;
  top:30px;
  width:93px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:279px;
  top:30px;
  width:93px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:372px;
  top:30px;
  width:94px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:60px;
  width:93px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:93px;
  top:60px;
  width:93px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:186px;
  top:60px;
  width:93px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:279px;
  top:60px;
  width:93px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:372px;
  top:60px;
  width:94px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:360px;
  top:196px;
  width:80px;
  height:22px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'Applied Font';
}
#u39 {
  position:absolute;
  left:70px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:200px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:340px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:610px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:730px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:470px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:918px;
  top:91px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1020px;
  top:81px;
  width:80px;
  height:29px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'PingFang SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53_input {
  font-family:'Applied Font';
}
#u54 {
  position:absolute;
  left:1020px;
  top:48px;
  width:80px;
  height:29px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'PingFang SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54_input {
  font-family:'Applied Font';
}
