body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:130px;
  width:800px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u1 {
  position:absolute;
  left:70px;
  top:165px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:147px;
  top:165px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:224px;
  top:165px;
  width:51px;
  height:16px;
  font-family:'PingFang SC';
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:298px;
  top:165px;
  width:79px;
  height:16px;
  font-family:'PingFang SC';
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:400px;
  top:165px;
  width:105px;
  height:16px;
  font-family:'PingFang SC';
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:70px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:200px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:340px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:610px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:730px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:470px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFang SC';
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
