body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:637px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:80px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:102px;
  top:116px;
  width:37px;
  height:16px;
  font-family:'PingFang SC';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:100px;
  top:148px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:190px;
  top:115px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6_input {
  font-family:'Applied Font';
}
#u7 {
  position:absolute;
  left:191px;
  top:146px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7_input {
  font-family:'Applied Font';
}
#u8 {
  position:absolute;
  left:190px;
  top:80px;
  width:26px;
  height:16px;
  font-family:'PingFang SC';
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:110px;
  top:249px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:112px;
  top:285px;
  width:37px;
  height:16px;
  font-family:'PingFang SC';
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:110px;
  top:317px;
  width:53px;
  height:16px;
  font-family:'PingFang SC';
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:200px;
  top:284px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:201px;
  top:315px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17_input {
  font-family:'Applied Font';
}
#u18 {
  position:absolute;
  left:200px;
  top:249px;
  width:26px;
  height:16px;
  font-family:'PingFang SC';
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:148px;
  top:440px;
  width:489px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  white-space:nowrap;
}
